{% extends 'app.html' %}
{% block title %}Login{% endblock %}
{% load i18n %} 
{% block content %}
<div class="card shadow mx-auto rounded-lg" style="width: 20rem;">
    <div class="card-body">
        <h3 class="card-title">Đăng nhập</h3>
        {% include 'layouts/components/messages.html' %} 
        <form method="POST">  
            {% load crispy_forms_tags %}    
            {% csrf_token %}
            {{ form|crispy }}   
            <button type="submit" class="btn btn-success">Đăng nhập</button>
            <a class="float-right text-danger" href="{% url 'password_reset' %}">Quên Passsword?</a>
        </form>
        <h6 class="mt-2 mb-2">Đăng nhập với:</h6>
        <div class="social mt-2">
            <a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook mr-2"></a>
            <a href="#" class="fa fa-google mr-2"></a>
            <a href="#" class="fa fa-twitter mr-2"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="{% url 'social:begin' 'github' %}" class="fa fa-github"></a>
        </div>        
    </div>
</div> 
{% endblock %}   
<!-- <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>  -->