{% extends "app.html" %}
{% block meta %}{% endblock %}
{% block title %}{% endblock %}
{% block style %}{% endblock %} 

{% block header %}
{% include 'blog/includes/Hnav.html' %} 
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">    
    <div class="col-md">
        <h1>Article Detail</h1>
        <div>
            <h2>{{ object.title }</h2>
            <p>{{ object.body }}</p>
        </div>
    </div>
  	<!---sidebar--------->
    <div class="col-md-3">  
        {% include 'blog/includes/aside_right.html' %}
    </div>
  </div>
</div>        
{% endblock %}

{% block script %}{% endblock %}

